= form_with model: @address, local: true do |f|
  = render "devise/shared/error_messages", resource: @address
  .new_session-wrapper
    .new_session-wrapper__logo
      = render "devise/sessions/header"
    
    .new_session-wrapper__main
      .new_session-wrapper__main__head
        発送元・送り先住所情報
    .new_session-wrapper__main
      .new_session-wrapper__main__title
        郵便番号
        %span.require 必須
      %input.new_session-wrapper__main__text{placeholder: "例)123-4567"}
      .new_session-wrapper__main__title
        都道府県
        %span.require 必須
        .flexbox
          %select.new_session-wrapper__main__select
            <option value="1">北海道</option>
            <option value="2">青森県</option>
            <option value="3">岩手県</option>
            <option value="4">宮城県</option>
            <option value="5">秋田県</option>
            <option value="6">山形県</option>
            <option value="7">福島県</option>
            <option value="8">茨城県</option>
            <option value="9">栃木県</option>
            <option value="10">群馬県</option>
            <option value="11">埼玉県</option>
            <option value="12">千葉県</option>
            <option value="13">東京都</option>
            <option value="14">神奈川県</option>
            <option value="15">新潟県</option>
            <option value="16">富山県</option>
            <option value="17">石川県</option>
            <option value="18">福井県</option>
            <option value="19">山梨県</option>
            <option value="20">長野県</option>
            <option value="21">岐阜県</option>
            <option value="22">静岡県</option>
            <option value="23">愛知県</option>
            <option value="24">三重県</option>
            <option value="25">滋賀県</option>
            <option value="26">京都府</option>
            <option value="27">大阪府</option>
            <option value="28">兵庫県</option>
            <option value="29">奈良県</option>
            <option value="30">和歌山県</option>
            <option value="31">鳥取県</option>
            <option value="32">島根県</option>
            <option value="33">岡山県</option>
            <option value="34">広島県</option>
            <option value="35">山口県</option>
            <option value="36">徳島県</option>
            <option value="37">香川県</option>
            <option value="38">愛媛県</option>
            <option value="39">高知県</option>
            <option value="40">福岡県</option>
            <option value="41">佐賀県</option>
            <option value="42">長崎県</option>
            <option value="43">熊本県</option>
            <option value="44">大分県</option>
            <option value="45">宮崎県</option>
            <option value="46">鹿児島県</option>
            <option value="47">沖縄県</option>
            </select>	
      .new_session-wrapper__main__title
        市区町村
        %span.require 必須
      %input.new_session-wrapper__main__text{placeholder: "例)渋谷区"}
      .new_session-wrapper__main__title
        番地
        %span.require 必須
      %input.new_session-wrapper__main__text{placeholder: "例)道玄坂3-2"}
      .new_session-wrapper__main__title
        建物名
        %span.any 任意
      %input.new_session-wrapper__main__text{placeholder: "例)フォンティスビル7F"}
      .new_session-wrapper__main__caution
        ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
      %input{type: "submit", class: "new_session-wrapper__main__btn", value: "次へ進む"}
  = render "devise/sessions/footer"    