.done{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 40px;
  &__content{
    margin: 0 auto;
    width: 574px;
    background-color: white;
    &--box{
      margin: 8px 16px 32px;
      padding: 32px 64px;
      &--info{
        text-align: center;
        font-weight: bold;
        margin: 0 0 16px;
        padding: 16px;
        font-size: 18px;
      }
<<<<<<< Updated upstream
=======
      &--image{
        margin: 0 auto 32px;
        background-image: image-url("okay.png");
        background-size: contain;
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
      }
>>>>>>> Stashed changes
      &--message{
        font-size: 14px;
        text-align: center;
      }
    }
  }
}