* {
  box-sizing: border-box;
}

@mixin mypage-btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    background-color: #3CCACE;
    color: $white;
    text-align: center;
    line-height: 50px;
    width: 400px;
    height: 50px;
  }
}

.mypage__container {
  padding: 30px 30px;
  background-color: whitesmoke;
  .mypage__inner {
    margin-left: 50px;
    padding: 40px 0 20px 0;
    width: 1420px;
    display: flex;
    justify-content: space-between;
  }
}
.side {
  &__list {
    
    p {
      margin: 40px 0 5px 0;
    }
    .btn {
      border: 1px solid whitesmoke;
      background-color: $white;
      width: 280px;
      height: 48px;
      font-size: 14px;
      line-height: 48px;
      &:hover {
        background-color: wheat;
      }
      a {
        padding: 0 10px;
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        &:hover {
          opacity: 0.5;
        }
        .arrow {
          margin: auto 0;
        }
      }
    }
  }
}

.pickup__container {
  .head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .product_box {
    padding-bottom: 5px;
    width: 100%;
    
    .product__head {
      text-align: center;
      a {
        font-size: 24px;
        text-decoration: none;
        color: $basic-color;
        font-weight: bold;
      }
    }
    .product__lists {
      width: 880px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .product__list {
        width: 220px;
        display: inline-block;
        // float: left;
        a {
          background-color: $white;
          display: inline-block;
        }
        &--img {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          object-fit: cover;
        }
        &--body {
          background-color: $white;
          color: #333;
          padding: 16px;
          .name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .details {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }  
          
            p {
                font-size: 10px;
                text-align: left;
            }
          }
        }
      }
    }
  }
}

.content__card__title {
  height: 50px;
  text-align: center;
  border: 1px solid whitesmoke;
  font-weight: bold;
  font-size: 18px;
  p {
    line-height: 50px;
  }
}

.card__add__title {
  height: 50px;
  text-align: center;
  border: 1px solid whitesmoke;
  font-weight: bold;
  font-size: 20px;
  p {
    line-height: 50px;
  }
}

.card__add__inner {
  display: flex;
  justify-content: center;
  .input_form {
    padding: 20px;
    .cards-expire {
      padding: 10px;
      .label {
        width: 310px;
        .require {
          padding: 2px;
          font-size: 12px;
          border-radius: 2px;
          background-color: #3ccace;
          color: white;
        }
      }
      .input_text {
        margin: 0 auto;
        width: 300px;
        height: 45px;
        padding-left: 10px;
      }
      .card_list {
        margin-top: 5px;
      }
      &__wrap {
        display: flex;
        .range {
          margin-right: 10px;
          height: 25px;
        }
        .expire-text {
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }
}

.new-card {
  @include mypage-btn;
}

.add_card {
  @include mypage-btn;
  height: 0px;
  margin: 10px 0;
}

.logout {
  @include mypage-btn;
}

@import "toppage/header";
@import "toppage/banner";
@import "toppage/footer";
