.new_session-wrapper
  .new_session-wrapper__logo
    = link_to root_path do
      %i.fab.fa-pagelines
      %span.new_session-wrapper__logo__text
        Frema
  .new_session-wrapper__main
    %span.new_session-wrapper__main__sentence
      アカウントをお持ちでない方はこちら
    = link_to new_user_registration_path, class: "new_session-wrapper__main__btn" do
      新規会員登録
  .new_session-wrapper__main
    = form_with model:resource, url: session_path(resource_name) do |f|
      %input.new_session-wrapper__main__text{placeholder: "メールアドレス"}
      %input.new_session-wrapper__main__text{placeholder: "パスワード"}
      %input{type:"submit", class: "new_session-wrapper__main__btn", value: "ログイン"}
