= render "/items/templates/subheader"
.done
  .done__content
    .done__content--box
      %h1.done__content--box--info 購入が完了しました
<<<<<<< Updated upstream
=======
      .done__content--box--image
>>>>>>> Stashed changes
      %p.done__content--box--message 引き続きお買い物をお楽しみください

= render "/items/templates/subfooter"