.e__center{
  width: 100%;
  height: 400px;
  background-color: white;
  &__image{
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    width: 100%;
    height: 400px;
    background-position: top center;
    position: relative;
    display: flex;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    &__content{
      width: 100%;
      height: 400px;
      margin: 0 20px;
      padding-top: 130px;
      h2{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          color: #fff;
      }
      p{
        text-shadow:0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
      }
      .e__center__image__content-icon-google{
        width: 180px;
        padding: 0;
        #gBtn{
          
          .google{
            margin-top: 25px;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}
.e__middle {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  &__title
    h1 {
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      padding: 30px 0 15px;
    }
  &__container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &__border {
      margin-right: 20px;
      &__content {
        background-color: #ffffff;
        height: 330px;
        width: 200px;
        margin-top: 20px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
        &__image {
          img {
            width: 100%;
            height: 200px;
          }
          position: relative;
          &--triangle {
            position: absolute;
            top: 0;
            left: 0px;
            border-bottom: 75px solid transparent;
            border-left: 75px solid red;
          }
          &__soldout {
            transform: rotate(-45deg);
            position: absolute;
            top: 14px;
            left: 2px;
            color: #ffffff;
            font-weight: bold;
            font-size: 17px;
          }
        }
        &__info {
          padding: 16px;
          &__name {
            word-break: break-all;
            height: 48px;
          }
          &__price {
            word-break: break-all;
            font-size: 16px;
            font-weight: 600;
            color: #333;
            text-decoration: none;
            margin-top: 8px;
            line-height: 16px;
            .fa-heart {
              float: right;
              color: #ccc;
            }
          }
        }
      }
      &__content:hover{
        border: solid 1px #3CCACE;
      }
    }
  }
  &__page {
    color: #3CCACE;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}