.main{
  width: 100vw;
  height: 100%;
  background-color: #f8f8f8;
  .show-main{
    padding: 40px;
    margin: 0 auto;
    
    .topcontents{
      width: 700px;
      margin: 0 auto;
      .itembox{
        padding: 24px 40px 40px;
        background-color: #ffffff;
        .name{
          text-align: center;
          font-size: 24px;
          font-weight: bold;
        }
        &__body{
          margin: 16px 0 0;
          ul {
            position: relative;
            display: flex;
            li {
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              .firstimage {
                object-fit: cover;
                height: 346px;
              }
              ul {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li {
                  width: 25%;
                  margin: 0 10px 0 0;
                  .imagelist {
                    object-fit: cover;
                    height: 87px;
                  }
                }
              }
            }
          }
        }
        
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          font-size: 46px;
          flex-direction: column;
          font-weight: bold;
          &--detail {
            font-size: 16px;
          }
        }

        &__description {
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        
        .table {
          margin-bottom: 20px;
          table {
            display: table;
            width: 100%;
            border-collapse: collapse; 
            border: 1px solid #f8f8f8;
            tbody {
              tr { border: 1px solid #f8f8f8;
                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  .categorys{
                    text-decoration: none;
                    color: #3ccace;
                  }
                  .prefectures{
                    text-decoration: none;
                    color: #3ccace;
                  }
                }
              }
            }
          }
        }
        .optonalarea {
          display: flex;
          justify-content: space-between;
          margin: 10px 0 0;
          &__favoritebtn{
            
            .star {
              color: #3CCACE;
            }
            li.optionalBtn.already {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #ffffff;
              background-color: #3CCACE;
              display: block;
            }
            li.optionalBtn.none {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              background-color: #ffffff;
              border: 1px solid #ffb340;
              display: block;
            }
          }
          &__optonalbtn{
            font-size: 14px;
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #333;

            a{
              text-decoration: none;
              color: #333;
            }
          }
        }
        .show_purchasebox{
          padding: 24px;
          background-color: #ffffff;
          text-align: center;
          .item-editbtn{
            display: flex;
            justify-content: space-between;
            a{
              margin: 0 auto;
              margin-top: 30px;
              text-align: center;
              display: block;
              height: 48px;
              width: 30%;
              background-color: #3ccace;
              border: 1px solid #3ccace;
              line-height: 48px;
              color: white;
              font-size: 18px;
              border-radius: 100px;
            }
          }
          .show_purchasebtn{
            margin: 0 auto;
            line-height: 48px;
            background-color: #3CCACE;
            border: 1px solid #3CCACE;
            width: 65%;
            font-size: 18px;
            border-radius: 100px;
            a{
              color: #fff;
            }
          }
        }
      }  
      
      .commentbox{
        padding: 24px;
        background-color: #ffffff;
        margin: 10px 0;
        text-align: center;
        &__newcontent{
          form {
            .text {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
          }  
        }
        &__noticemsg{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__commentbtn{
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          .commentbtn-icon{
            color:#fff;
          }
        }
      }
    }

    .links {
      list-style: none;
      .right {
        color: #3ccace;
        text-decoration: none;
        float: right;
      }
      .left {
        color: #3ccace;
        text-decoration: none;
        float: left;
      }
    }
    
    .relateditems{
      a{
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
        width: 700px;
        margin: 0 auto;
        display: block;
        margin-top: 60px;
        color: #3ccace;
      }
    }

  }
}