* {
  box-sizing: border-box;
}
.search {
  .search-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    .search-left {
      margin: 0 auto 0;
      padding: 40px 40px 20px 40px;
      width: 500px;
      height:100%;
    }
      .detail_search{
        &__sort {

          height: 44px;
          line-height: 44px;
          font-size: 16px;
        
          width: 300px;
        
          border-radius: 4px;
        
        }
      }

    .search-right {
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-around;
    }
  }
}

.search-result-head{
  text-align: center;
}

.search-result-number{
  text-align: center;
}


.items-box-content {
  width: 880px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  .product__list {
    width: 220px;
        display: inline-block;
        
        a {
          background-color: $white;
          display: inline-block;
        }
        &--body {
          background-color: $white;
          color: #333;
          padding: 16px;
          .name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .details {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }  
          
            p {
                font-size: 10px;
                text-align: left;
            }
          }
        }
  }
}