.footer
  %ul.contents
    %li.content
      %h2.content__title FURIMAについて
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")会社概要（運営会社）
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")プライバシーポリシー
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")FURIMA利用規約
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")ポイントに関する特約
    %li.content
      %h2.content__title FURIMAを見る
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")カテゴリー一覧
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")ブランド一覧
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")FURIMA利用規約
    %li.content
      %h2.content__title ヘルプ＆ガイド
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")FURIMAガイド
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")FURIMAロゴ利用ガイドライン
      %ul.content__title__text
        %li
          %a(href="/" class="content__title__text__1" placeholder="")お知らせ
  .footer__logo
    %a(href="/")
      = image_tag 'logo-white.png', alt: '', height: '', width: '', class: 'bottom__logo'
    %p @FURIMA